---
layout: default
permalink: /
---

<section>
  <h1>Featured Posts</h1>
  <div>
	{% for post in site.posts %}
          <!-->{% for post in site.tags[Featured] %}</-->
	  {% if page.tags contains "Featured" %}
		<!--
	    <article class="tag-item">
	      <a class="tag-item-title" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
	    </article>
		/-->
		<ul>
			<li>
				<div class="post-date code">
					<span>{{ post.date | date: "%b %d %Y" }}</span>
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>
	  {% endif %}
        {% endfor %}
  </div>
</section>
